<%= form_with(model: @article, local: true) do |f|%>
<div>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
</div>
<br>
<div>
    <%= f.label :description %> <br>
    <%= f.text_field :description %>
</div>
<br>
<div>
    <%= f.submit %>
</div>
<% end %>