<%= form_with(model: @article, local: true) do |f|%>
<div>
    <strong><%= f.label :title %>:</strong>
    <br>
    <%= f.text_field :title %>
</div>
<br>

<div>
    <strong><%= f.label :description %>:</strong>
    <br>
    <%= f.text_field :description %>
</div>
<br>

<div>
    <strong><%= f.label :categories, "Categories (Optional)" %>:</strong>
    <br>
    <%= f.collection_select(:category_ids, Category.all, :id, :name, { multiple: true, size: 5 }) %>
</div>
<br>

<div>
    <%= f.submit %>
</div>
<% end %>