<h1>Article <%=@article.id%></h1>
<p>By: <%=@article.user.username%></p>
<br>
<p><strong>Title: </strong><%=@article.title%></p>
<p><strong>Description: </strong><%=@article.description%></p>
<%= link_to 'Return', articles_path%>