<h1><%= @user.username %>'s Profile</h1>

<img src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png" alt="" width="200" >

<br>

<% if logged_in? && (current_user.id == @user.id || current_user.admin?)%>
    <%= link_to 'Edit Profile', edit_user_path%>
    <br>
    <%= button_to 'Delete Profile', user_path(@user), method: :delete, 
        data: { turbo_confirm: "Are you sure you want to delete your profile?" }
    %>
    <br>
<% end %>

<h2>Articles:</h2>

<%= render 'articles/articles_table' %>

<br>
<%= will_paginate @articles %>
<br>

<br>
<%= link_to 'Return', users_path %>