<h1><%= @user.username %>'s Profile</h1>

<img src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png" alt="" width="200" >

<br>

<%= link_to 'Edit Profile', edit_user_path%>

<br>

<h2>Articles:</h2>

<%= render 'articles/articles_table' %>

<br>
<%= will_paginate @articles %>
<br>

<br>

<%= link_to 'Return', '/'%>